<?xml version='1.0' encoding='utf-8'?>
<widget id="today.milkthecow.game" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Milk the Cow</name>
    <description>
        A pleasure game to get milk from the cow.
    </description>
    <author email="rcdd93@gmail.com">Ruben Domingues</author>
    <author email="mteixeira88013@gmail.com">'Miguel Teixeira</author>
    <content src="index.html" />
    <icon src="logo.png" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <plugin name="cordova-plugin-vibration" spec="^3.1.0" />
    <plugin name="cordova-plugin-insomnia" spec="https://github.com/EddyVerbruggen/Insomnia-PhoneGap-Plugin.git" />
    <plugin name="cordova-plugin-ble-central" spec="^1.2.2">
        <variable name="BLUETOOTH_USAGE_DESCRIPTION" value="Used to communicate with your friends to play in multiplayer." />
    </plugin>
    <plugin name="cordova-plugin-ble-peripheral" spec="^1.0.0" />
    <plugin name="cordova-plugin-device" spec="^2.0.3" />
    <plugin name="cordova-plugin-device-name" spec="^1.3.5" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.0.0" />
</widget>
